NODE_ENV=production
BACKEND_PORT=3000
APP_PORT=80
PGADMIN_PORT=8080
LOGGER_TYPE=json

DATABASE_DRIVER=postgres
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac

POSTGRES_DB=prac
POSTGRES_USER=prac
POSTGRES_PASSWORD=prac

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_CONFIG_SERVER_MODE=False

VITE_API_URL=/api/afisha
VITE_CDN_URL=/content/afisha
VITE_BASE_PATH=/
